<div class="cities-modal" [ngClass]="{'active-dialog': activateDialog}">
  <div class="cities-modal-header">
    <span *ngIf="isCreation" class="modal-title">Creating a city...</span>
    <span *ngIf="!isCreation" class="modal-title">{{city.title}}</span>
    <button class="close-button" (click)="closeDialog()">X</button>
  </div>
  <div class="cities-modal-body">
    <div *ngIf="isCreation" class="title-modify-container">
      <span>City name: </span>
      <input *ngIf="modify" [ngClass]="{'error': !city.title && titleError}" [(ngModel)]="city.title">
    </div>
    <span *ngIf="!modify">{{city.content}}</span>
    <div *ngIf="modify" class="content-modify-container">
        <span>Content: </span>
        <textarea class="city-content-modify" [ngClass]="{'error': !city.content && contentError}" [(ngModel)]="city.content"></textarea>
    </div>
    <div *ngIf="!modify" class="image-container">
      <img [src]="city.image_url"/>
    </div>
    <div *ngIf="modify" class="image-url-modify-container">
      <span>Image URL: </span>
      <input [(ngModel)]="city.image_url">
    </div>
    <div *ngIf="modify" class="lat-modify-container">
      <span>Latitude: </span>
      <input type="number" [(ngModel)]="city.lat">
    </div>
    <div *ngIf="modify" class="long-modify-container">
      <span>Longitude: </span>
      <input type="number" [(ngModel)]="city.long">
    </div>
  </div>
  <div class="cities-modal-footer">
    <button class="delete-button" *ngIf="!isCreation" (click)="deleteCity()">Delete</button>
    <button class="modify-button" *ngIf="!isCreation" [ngClass]="{'modify-active': modify}" (click)="modifyCity()">Modify</button>
    <button class="update-button" *ngIf="!isCreation" (click)="updateCity()">Save</button>
    <button class="create-button" *ngIf="isCreation" (click)="createCity()">Create</button>
  </div>
</div>